# clayhandlebars

[![Build Status](https://travis-ci.org/clay/handlebars.svg)](https://travis-ci.org/clay/handlebars)
[![Coverage Status](https://coveralls.io/repos/github/clay/handlebars/badge.svg?branch=master)](https://coveralls.io/github/clay/handlebars?branch=master)
[![Code Climate](https://codeclimate.com/github/clay/handlebars/badges/gpa.svg)](https://codeclimate.com/github/clay/handlebars)

A collection of helpers and partials for handlebars

# Installation

```
npm install --save clayhandlebars
```

# Usage

By default, `clayhandlebars` will export a function that returns a new handlebars instance with all of the helpers and partials added.

```js
var hbs = require('clayhandlebars')(),
  template = hbs.compile('<h1>Hello \{{ place }}!</h1>'),
  result = template({ place: 'World' });

// result: <h1>Hello World!</h1>
```

## Passing env in

If you want to configure and use your own handlebars environment, you can pass it through

```js
var Handlebars = require('express-handlebars'),
  env = new Handlebars({ /* some config */ }),
  hbs = require('clayhandlebars')(env),
  app = require('express')();

app.engine('handlebars', hbs.engine);
app.set('view engine', 'handlebars');
```

---

# Helpers

Currently **{{default totalHelpers '0'}} helpers** in **{{default categories.length '0'}} categories**:

{{> toc categories}}

---

{{> categorySection categories}}

---

# Partials

Currently **{{partials.length}} partial{{#compare partials.length '>' 1 }}s{{/compare}}**:

{{#each partials}}
* **{{ name }}** ( [code](https://github.com/clay/handlebars/blob/master/partials/{{ name }}.hbs) | {{#if hasTestFile}}[tests](https://github.com/clay/handlebars/blob/master/partials/{{ name }}.test.js){{else}}no tests{{/if}} )
{{/each}}

---

# Contributing

Pull requests and stars are always welcome. For bugs and feature requests, [please create an issue](https://github.com/clay/handlebars/issues/new).

This project is released under the [MIT license](https://github.com/clay/handlebars/blob/master/LICENSE).
